.my-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result {
  font-size: 5rem;
  margin: 2rem 0;
}

#my-wrapper {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label[for='correct-ouput'] {
  align-self: flex-start;
}

#notif {
  opacity: 0;
}

/* #copyToClipboard {
  display: none;
} */
